footer {
  background-color: #e85d04;
}
.Logo_Final {
  width: 100%;
  height: 500px;
  padding-top: 10rem;
}

.Logofinal_Texto {
  padding-bottom: 2rem;
}

button {
  color: white;
  background-color: gray;
}
