* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
  }
  
  main {
    background-color: #e85d04;
  }
  
  p {
    color: white;
  }
  b{
    color: white;
  }