.contactanos1 {
  margin-top: 10rem;
}

.Cliente1:hover {
  transform: scale(1.1);
}
.Cliente2:hover {
  transform: scale(1.1);
}
.Cliente3:hover {
  transform: scale(1.1);
}
.Cliente4:hover {
  transform: scale(1.1);
}
.Cliente5:hover {
  transform: scale(1.1);
}
.Cliente6:hover {
  transform: scale(1.1);
}

.animated-text {
  font-size: 11rem;
  background: linear-gradient(
      90deg,
      rgb(0, 0, 0),
      rgb(255, 255, 255),
      rgba(0, 0, 0, 0.932)
    )
    0 0 / 400% 100%;
  animation: move-bg 10s;
  color: black;
}

@keyframes move-bg {
  to {
    background-position: 400% 0;
  }
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 10px #aaa;
}

select {
  appearance: none;
  background-image: url("https://cdn.iconscout.com/icon/free/png-256/arrow-down-1771593-1505027.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}

button {
  background-color: gray;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

button:hover {
  background-color: #ff7043;
}

.img-fluid{
  padding-bottom: 2rem;
}
