.contactanos1{
    margin-top: 10rem;
}

.Cliente1:hover{
transform: scale(1.1);
}
.Cliente2:hover{
    transform: scale(1.1);
    }
    .Cliente3:hover{
        transform: scale(1.1);
        }
        .Cliente4:hover{
            transform: scale(1.1);
            }
            .Cliente5:hover{
                transform: scale(1.1);
                }
                .Cliente6:hover{
                    transform: scale(1.1);
                    }